.main {
  background-color: var(--mainBackground);
  padding-bottom: 92px;

  &__header1Wrapper {
    background-color: var(--backgroundColor);
    padding: 40px 0 38px 0;
    @media screen and (max-width: 768px) {
      padding: 48px 16px 32px 16px;
    }
  }
}
