.header {
  padding-top: 24px;
  background-color: var(--backgroundColor);

  &__logoLink {
    text-decoration: none;
    color: var(--black);
    &:visited {
      color: transparent;
    }
  }

  &__title {
    color: var(--fontColor);
    font-family: Inter;
    font-size: 50px;
    font-style: normal;
    font-weight: 500;
    line-height: 64px;
    margin: 0;
    padding: 0;

    @media screen and (max-width: 768px) {
      & {
        font-family: Inter;
        font-size: 28px;
        font-style: normal;
        font-weight: 400;
        line-height: 38px; /* 135.714% */
      }
    }
  }
  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    color: var(--black);
    display: flex;
    gap: 8px;
  }
  &__topMenu {
    display: flex;
    gap: 56px;
  }
  &__topNav {
    display: inline-block;
  }
  &__topNavItem {
    display: inline-block;
    text-decoration: none;
    color: var(--grey-3);

    text-align: right;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
  }
  &__topNavItem_active {
    color: var(--fontColor);
  }
  &__topNavItem ~ &__topNavItem {
    margin-left: 24px;
  }

  &__nav {
    display: inline-block;
  }
  &__navItem {
    display: inline-block;
    text-decoration: none;

    color: var(--grey-3);

    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
  }
  &__navItem_active {
    color: var(--fontColor);
  }
  &__navItem ~ &__navItem {
    margin-left: 24px;
  }
  &__menuToggle {
    position: absolute;
    top: 10px;
    left: 16px;
    display: none;
  }

  @media screen and (max-width: 768px) {
    &__menuToggle {
      display: block;
    }
    &__topMenu {
      display: none;
    }
    &__top {
      justify-content: center;
    }
    .header {
      padding-top: 16px;
    }
  }

  &__topThemeIconLight {
    color: var(--grey-4);
  }
  &__topThemeIconDark {
    color: var(--grey-3);
  }
}
