<header class="header">
  <div class="container">
    <div class="header__top">
      <div class="header__logo">
        <svg
          class="header__menuToggle"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          id="navigationOpen"
          xmlns="http://www.w3.org/2000/svg"
        >
          <use href="/library/svg-sprites.svg#burger" />
        </svg>
        <a href="/" class="header__logoLink">
          <svg fill="none" width="30" height="30">
            <use href="/library/svg-sprites.svg#square" />
          </svg>
          <svg fill="none" width="32" height="32">
            <use href="/library/svg-sprites.svg#round" />
          </svg>
          <svg fill="none" width="32" height="32">
            <use href="/library/svg-sprites.svg#triangle" />
          </svg>
        </a>
      </div>
      <div class="header__topMenu">
        <nav class="header__topNav">
          <a href="/" class="header__topNavItem header__topNavItem_active"
            >Components</a
          >
          <a
            href="/library.zip"
            download="library.zip"
            class="header__topNavItem header__topNavItem_active"
            >Download library</a
          >
        </nav>
        <label class="toggler header__topToggleButton" data-theme-toggler>
          <svg
            fill="none"
            width="24"
            height="24"
            class="header__topThemeIconLight"
          >
            <use href="/library/svg-sprites.svg#sun" />
          </svg>
          <input class="toggler__input" type="checkbox" />
          <div class="toggler__base">
            <div class="toggler__switch"></div>
          </div>
          <svg
            fill="none"
            width="20"
            height="20"
            class="header__topThemeIconDark"
          >
            <use href="/library/svg-sprites.svg#moon" />
          </svg>
        </label>
      </div>
    </div>
  </div>
</header>
