.avatar {
  display: block;
  background: url('./assets/avatar-200.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50%;
  width: 102px;
  height: 102px;

  &_preview {
    width: 160px;
    height: 160px;
  }
}
