.page {
  display: flex;
  flex-direction: column;
  height: 100%;

  &__main {
    flex-grow: 1;
  }
  & .navigation {
    display: none;
    @media screen and (max-width: 768px) {
      display: inherit;
    }
  }
}
