.componentPage {
  width: 100vw;
  min-height: 100vh;
  background-color: var(--mainBackground);

  /* элементы */
  &__wrapper {
    width: 100vw;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 229px 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
      'header header'
      'navigation main'
      'footer footer';
  }

  &__main {
    grid-area: main;
    background-color: var(--white);
  }

  & header {
    grid-area: header;
    background-color: var(--mainBackground);
    margin-bottom: 60px;
  }
  &__navigation {
    grid-area: navigation;
  }

  & footer {
    padding-top: 56px;
    padding-bottom: 56px;
    grid-area: footer;
    background-color: var(--mainBackground);
  }

  &__container {
    width: 100vw;
    min-height: 100vh;
  }
  @media screen and (max-width: 768px) {
    &__wrapper {
      grid-template-columns: 1fr;
      grid-template-rows: auto 1fr auto;
      grid-template-areas:
        'header'
        'main'
        'footer';
    }

    & header {
      margin-bottom: 16px;
    }
  }
}
